.logros {
    padding-top: 20%;
}



@media only screen and (min-width: 768px) {
    .contNubes img {
        margin-left: 20%;
    }
    .logro1 {
        display: flex;
        justify-content: space-around;
    }
    .cont-p,
    .cont-p2 {
        width: 50%;
    }
    .contimg {
        width: 50%;
    }
    .logros {
        padding-top: 7%;
    }
    .cont-p2 {
        margin-top: 20%;
        line-height: 2;
    }
}