<section class="logros ">
    <article class="animaciones">
        <h2>bienvenido</h2>

        <div class="contNubes">
            <img class="animated fadeInLeft " width="600px" src="assets/img/cohete.svg">
        </div>
    </article>


    <div class="container">

        <h2>logros 2019</h2>
        <div class="logro1 animated fadeIn mt-5">
            <div class="contimg">
                <img width="300px" src="./../.././../assets/img/LOGO.svg">
            </div>
            <div class="cont-p">
                <h4>Logo</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, magnam laudantium odio soluta cum necessitatibus, excepturi molestias saepe aliquid corrupti quasi quo perspiciatis fugiat ad numquam. Commodi architecto quibusdam fugit!
                </p>
            </div>
        </div>
        <hr>
        <div class="logro1 animated fadeIn">

            <div class="cont-p2">
                <h4>ionic</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, magnam laudantium odio soluta cum necessitatibus, excepturi molestias saepe aliquid corrupti quasi quo perspiciatis fugiat ad numquam. Commodi architecto quibusdam fugit!
                </p>
            </div>
            <div class="contimg">
                <img width="600px" src="assets/img/mockup.png">
            </div>
        </div>



    </div>

</section>