
<div class="section animated fadeIn">
        <h2 >App de nombres</h2>
        <div class="contenedor" >
              
                <div class="row">
       
                    <div class="contimg col-md-5 col-12">
            <img src="../../../assets/img/poryecto1.png" >
            <div class="contbtn pt-5">
                    <a [routerLink]="['/home']"  class="btn btn-block text-center btn-outline-info " >Volver </a>
            </div>
     
                    </div>
                    <div class="p-2 col-md-5 col-12">
                        <p>Esta <span class="especial">app</span> fue creada con la nocion de generar nombres para padres primerisos que estuvieran indecisos. </p>
                        
            
                        
                    </div>
                </div>
            </div>
            
</div>
