<div class="section animated fadeIn">
        <h2 >java Script POO</h2>
        <div class="contenedor" >
              
                <div class="row">
       
                    <div class="contimg col-md-5 col-12">
            <img src="../../../assets/img/p4.png" >
            <div class="contbtn pt-5">
                    <a [routerLink]="['/home']"  class="btn btn-block text-center btn-outline-info " >Volver</a>
            </div>
     
                    </div>
                    <div class="p-2 col-md-5 col-12">
                        <p><span class="especial">javaScript</span> orientado a objetos esta app te permita crear y eliminar datos de una compra</p>
                        
            
                        
                    </div>
                </div>
            </div>
            
</div>

