<div class="animated">
    <header class="header-principal ">
        <div class=" con-header ">

            <div class="d-flexC ">
                <div class="cont-ilustracion">
                    <img class=" animated lightSpeedIn" src="assets/img/ilustracion.svg" alt="First slide">



                </div>
                <div class="presentacion">
                    <h1>Hola!</h1>
                    <h1>Soy <span class="nombre">Jesus Brice&ntilde;o</span> </h1>
                    <span class="Profesion">Desarrollador web</span>
                    <div class="redessociales">
                        <div class="red">
                            <a target="_blank" href="#"> <i class="animated rubberBand fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="animated rubberBand fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="animated rubberBand fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="#"> <i class="animated rubberBand fab fa-instagram"></i>
                            </a>




                        </div>
                    </div>
                    <div class="cont-btn ">
                        <a [routerLink]="['/quiensoy']" class="btn btn-primary">Ver Perfil</a>

                    </div>
                </div>


            </div>
        </div>





    </header>
    <main>
        <section>
            <article class="servicios animated bounceInLeft">
                <h2>Servicios </h2>
                <div class="cont ">
                    <p class="servih2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quas itaque nesciunt omnis aspernatur libero. </p>
                </div>

                <div class="contTarjetas">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="card">
                                    <i class="card-img-top fas fa-mobile-alt pt-4"></i>

                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <i class="card-img-top fas fa-mobile-alt pt-4"></i>

                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <i class="card-img-top fas fa-mobile-alt pt-4"></i>

                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-5">
                    </div>








                </div>
            </article>
            <article>
                <h2>ultimos trabajos </h2>
                <div class="cont ">
                    <p class="servih2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quas itaque nesciunt omnis aspernatur libero. </p>
                </div>
                <div class="cont-work pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/laptop-1483974_1280.jpg">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Developer</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/laptop-1483974_1280.jpg">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Developer</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/laptop-1483974_1280.jpg">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Developer</h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-5">
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/laptop-1483974_1280.jpg">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Developer</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/laptop-1483974_1280.jpg">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Developer</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/laptop-1483974_1280.jpg">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Developer</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </section>


        <section class="contactame">
            <div class="fondo">
                <div class="contcont">
                    <h2>contactame</h2>
                    <form class=" formcontac container pb-5" action="enviar.php" method="POST">
                        <div class="correo mt-4">


                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nombre <span class="red" >*</span></label>
                                <input id="form-name" name="name" required type="text" class="form-control" placeholder="Nombre">

                            </div>
                            <div class="form-group ">
                                <label for="exampleFormControlInput1">Telefono<span class="red" >*</span></label>
                                <input name="phone" type="tel" class="form-control" id="phone" placeholder="(Opcional)">

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Correo electronico<span class="red" >*</span></label>
                                <input id="form-email" name="email" required type="email" class="form-control" id="correo electronico" placeholder="name@example.com">

                            </div>

                        </div>




                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Mensaje<span class="red" >*</span></label>
                            <textarea id="form-text" name="message" required class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <button onclick="validateForm()" class="  btn btn-e btn-primary" type="submit">Enviar Email</button>


                    </form>
                </div>
            </div>
        </section>
    </main>
</div>