<div class="animated">
    <header class="header-principal ">
        <div class=" con-header ">

            <div class="d-flexC ">
                <div class="cont-ilustracion ">
                    <img class=" animated fadeIn" src="assets/img/ilustracion.svg" alt="First slide">



                </div>
                <div class="presentacion">
                    <h1>Hola!</h1>
                    <h1>Soy <span class="nombre">Jesus Brice&ntilde;o</span> </h1>
                    <span class="Profesion">Desarrollador web</span>
                    <div class="redessociales">
                        <div class="red">
                            <a target="_blank" href="https://www.facebook.com/jesus.briceno.7169"> <i class="animated rubberBand fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/Jesus47431820"><i class="animated rubberBand fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/jesus-brice%C3%B1o-zerpa-848b18183/"><i class="animated rubberBand fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://www.instagram.com/jesus_yebz/?hl=es-la"> <i class="animated rubberBand fab fa-instagram"></i>
                            </a>




                        </div>
                    </div>
                    <div class="cont-btn ">
                        <a [routerLink]="['/quiensoy']" class="btn btn-outline-info">Ver Perfil</a>

                    </div>
                </div>


            </div>
        </div>





    </header>
    <main>
        <section>
            <article class="servicios animated bounceInLeft">
                <h2>Servicios </h2>
                <div class="cont ">
                    <p class="servih2">En esta  sección descubriras los servicios que puedo ofrecer</p>
                </div>

                <div class="contTarjetas">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm py-5">
                                <div class="card ">
                                 
                                    <i class="card-img-top far fa-file-code pt-4"></i>

                                    <div class="card-body">
                                        <p class="card-text">buenas practicas de codigo limpio <span class="especial">Dile no al codigo espaguetti</span> me gusta tambien comentar el codigo. para dos cosas: recordar para que sirve y para que los demas desarrolladores lo entiendan</p>
                                    </div>
               
                                </div>
                            </div>
                            <div class="col-sm py-5">
                                <div class="card ">
                                    <i class="card-img-top fas fa-mobile-alt pt-4"></i>

                                    <div class="card-body">
                                        <p class="card-text">Me gusta una web que sea <span class="especial">reponsive</span> que se adapte a movil, ya que la mayoria de los usuarios usan mas el movil que una pc</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm py-5">
                                <div class="card ">
                                    <i class="card-img-top fas fa-paint-brush pt-4"></i>

                                    <div class="card-body">
                                        <p class="card-text"><span class="especial">Creativida</span> no me cierro alas opciones del diseño ya que hasta el momento soy <span class="especial">frontend</span> y mi duro deberia de ser el diseño tengo una nocion de algunas herramientas de <span class="especial">UI</span> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-5">
                    </div>








                </div>
            </article>
            <article>
                <h2>ultimos trabajos </h2>
                <div class="cont">
                    <p class="servih2 mb-5">Estos son unos proyectos personales ya que soy un <span class="especial">Jr</span>  </p>
                </div>
                <div class="cont-work pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="card-work" >
                                    <div class="contImg">
                                        <img src="../../../assets/img/poryecto1.png">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Generador de nombres</h4>
                                        <a [routerLink]="['/webapp']" class="btn  btn-outline-primary" >Ver mas</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/proyecto2.png">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">App gasto semanal</h4>
                                        <a [routerLink]="['/webapp2']" class="btn  btn-outline-primary" >Ver mas</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/p3.png">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Copia de Udemy</h4>
                                        <a [routerLink]="['/webapp3']" class="btn  btn-outline-primary" >Ver mas</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-5">
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/p5.png">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Buscador de autos</h4>
                                        <a [routerLink]="['/webapp4']" class="btn  btn-outline-primary" >Ver mas</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/p6.png">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">Buscador de canciones</h4>
                                        <a [routerLink]="['/webapp5']" class="btn  btn-outline-primary" >Ver mas</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card-work">
                                    <div class="contImg">
                                        <img src="../../../assets/img/p4.png">
                                    </div>
                                    <div class="contDesc mt-2">
                                        <i class=" my-2 far fa-heart"></i>
                                        <h3>Fronted</h3>
                                        <h4 class="mt-2">JavaScript POO</h4>
                                        <a [routerLink]="['/webapp6']" class="btn  btn-outline-primary" >Ver mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </section>


        <section class="contactame">
            <div class="fondo">
                <div class="contcont">
                    <h2>contactame</h2>
                    <app-formulario  ></app-formulario>
                </div>
            </div>
        </section>
    </main>
</div>