
<div class="section animated fadeIn">
        <h2 >Copia de udemy</h2>
        <div class="contenedor" >
              
                <div class="row">
       
                    <div class="contimg col-md-5 col-12">
            <img src="../../../assets/img/p3.png" >
            <div class="contbtn pt-5">
                    <a [routerLink]="['/home']"  class="btn btn-block text-center btn-outline-info " >Volver</a>
            </div>
     
                    </div>
                    <div class="p-2 col-md-5 col-12">
                        <p>Esta web es una vil copia de udemy es una practica para el <span class="especial">Localstorage</span></p>
                        
            
                        
                    </div>
                </div>
            </div>
            
</div>
