<nav class="ancla fixed-top navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">
        <img src="assets/img/LOGO.svg" width="40" height="40" class="d-inline-block align-top" alt="Yebz">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav mr-auto mx-auto ">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']"> Home <i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['quiensoy']">Quien Soy <i class="fas fa-user"></i></a>

            </li>


            <li class="nav-item" routerLinkActive="active">

                <a class="nav-link" [routerLink]="['logros']">logros <i class="fas fa-star"></i></a>
            </li>


            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['blog'] ">Blog <i class="fab fa-wordpress-simple"></i></a>
            </li>


        </ul>

    </div>
</nav>