
<div class="section animated fadeIn">
        <h2 >Gasto semanal</h2>
        <div class="contenedor" >
              
                <div class="row">
       
                    <div class="contimg col-md-5 col-12">
            <img src="../../../assets/img/proyecto2.png" >
            <div class="contbtn pt-5">
                    <a [routerLink]="['/home']"  class="btn btn-block text-center btn-outline-info " >Volver</a>
            </div>
     
                    </div>
                    <div class="p-2 col-md-5 col-12">
                        <p>Con estas App aprenderas a <span class="especial">ahorrar</span> ya que te dice en UI cuanto y en que vas gastando</p>
                        
            
                        
                    </div>
                </div>
            </div>
            
</div>
