<section class="quiensoy ">
    <h2 class="pt-5">quien soy ?</h2>

    <div class="contflex ">
        <div class="contprincipalq animated bounceInUp ">
            <div class="contImgQ ">
                <div class="fondoYisus">
                    <img class="animated zoomIn" src="assets/img/jesusPerfilSinfONDO.png" alt="jesus">
                </div>

                <div class="bio">
                    <p>
                        <a class="btn btn-primary mt-5 " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                 Biografria
                                 <i class="fas fa-sort-down"></i>
                                </a>

                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body animated rubberBand">
                     <span class="especial" >Jesus briceño</span> 21 años  de edad. Naci en trujillo uno de los tres estados andinos de venezuela. donde me crie hasta los 19 años de edad. emigre por la situacion que ya uds deben de conocer! si no ps aqui les dejo un link <a href="https://es.wikipedia.org/wiki/Crisis_en_Venezuela" target="_blank" rel="noopener noreferrer">Situacion en venezuela</a> empece a estudiar programacion en el año 2019 mes de marzo. la cual me facino este mundo y estoy en busca del conocimiento <span class="especial">Infinito</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="habilidades ">
                <p class="hb">Html | Css <i class="fab fa-html5"></i>/<i class="fab fa-css3-alt"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="hb">JavaScript <i class="fab fa-js-square"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
           <!--      <p class="hb">Php | NodeJs <i class="fab fa-php"></i>/<i class="fab fa-node"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
                <p class="hb">Angular | ionic<i class="fab fa-angular"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
         <!--        <p class="hb">MongoDb /MySql <i class="fas fa-database"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
                <a class="btn btn-lg btn-outline-info cv " href="#">Descargar CV <i class="fas fa-download"></i></a>
            </div>

        </div>

    </div>
    <article class=" container">
        <h2>Mi primera linea de codigo</h2>

        <div class="contCode ">
            <div class="contImg">
                <img src="assets/img/tecaldo.jpg" alt="teclado primera linea de codigo">

            </div>
            <div class="cpntParrafo mt-5 pt-5">
                <h4 class="mb-4 ">"Hello World"</h4>
                <p>Mi primera linea de codigo fue con <span class="especial">Html</span>
                un famoso <span class="especial">Hello world</span> que se hace cuando aprendes un lenguaje nuevo de alli empece a interesarsarme por la programacion y gracias a un amigo que me metio en este mundo <a href="https://twitter.com/vargashugo88" target="_blank" rel="noopener noreferrer">Hugo vargas</a>
                y gracias tambien a <a href="https://www.facebook.com/enrique.contreras.9237" target="_blank" rel="noopener noreferrer">Enrique contreras</a> por ayudarme demasiado en este camino
                </p>
            </div>
        </div>
        <hr>
        <div class="contCode ">

            <div class="cpntParrafo mt-5 pt-5">
                <h4 class="mb-4 ">"Mi Pirmera Web"</h4>
                <p>Mi primera web fue echa con solo html emocionado fui y busque un tutorial en youtube de como subirla a un servidor. coasa que hice de alli crecio mas la emocion de lo que podria lograr y que habian tantas cosas posibles a mi favor y que podria construir </p>
            </div>
            <div class="contImg">
                <img src="assets/img/paginaweb.jpg" alt="teclado primera linea de codigo">

            </div>
        </div>
        <hr>
        <div class="contCode ">
            <div class="contImg">
                <img class="idea" src="assets/img/idea.jpg" alt="teclado primera linea de codigo">

            </div>
            <div class="cpntParrafo mt-5 pt-5">

                <h4 class="mb-4 ">"Ideas"</h4>
                <p>Cuando supo lo que podria lograr si me adentraba a este mundo. empezo un boom de ideas a desarrollarse en mi cabeza....</p>
            </div>

        </div>

        <div class="contCode ">

            <div class="cpntParrafo mt-5 pt-5">

                <h4 class="mb-4 ">Super poderes</h4>
                <p>Considero que programar son super poderes magicos. la cual uno puede desarrollar con el conocimiento</p>
            </div>
            <div class="contImg">
                <img src="assets/img/responsive.png">

            </div>

        </div>



    </article>
</section>