<section class="quiensoy ">
    <h2>quien soy ?</h2>

    <div class="contflex ">
        <div class="contprincipalq animated bounceInUp ">
            <div class="contImgQ ">
                <div class="fondoYisus">
                    <img class="animated zoomIn" src="assets/img/jesusPerfilSinfONDO.png" alt="jesus">
                </div>

                <div class="bio">
                    <p>
                        <a class="btn btn-primary mt-5 " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                 Biografria
                                 <i class="fas fa-sort-down"></i>
                                </a>

                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body animated rubberBand">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quae consequatur adipisci molestias impedit distinctio corrupti iusto, odio soluta numquam architecto cupiditate nostrum! Necessitatibus aut voluptate, alias doloremque reprehenderit autem!
                        </div>
                    </div>
                </div>

            </div>
            <div class="habilidades ">
                <p class="hb">Html | Css <i class="fab fa-html5"></i>/<i class="fab fa-css3-alt"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="hb">JavaScript <i class="fab fa-js-square"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="hb">Php | NodeJs <i class="fab fa-php"></i>/<i class="fab fa-node"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="hb">Angular | ionic<i class="fab fa-angular"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="hb">MongoDb /MySql <i class="fas fa-database"></i></p>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <a class="btn btn-lg btn-outline-info cv " href="#">Descargar CV <i class="fas fa-download"></i></a>
            </div>

        </div>

    </div>
    <article class=" container">
        <h2>Mi primera linea de codigo</h2>

        <div class="contCode ">
            <div class="contImg">
                <img src="assets/img/tecaldo.jpg" alt="teclado primera linea de codigo">

            </div>
            <div class="cpntParrafo mt-5 pt-5">
                <h4 class="mb-4 ">"Hello World"</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, hic praesentium magni aliquam aspernatur harum eaque cum, ad quasi minima amet aut perspiciatis molestiae, repellat tenetur animi. A, cumque facere.</p>
            </div>
        </div>
        <hr>
        <div class="contCode ">

            <div class="cpntParrafo mt-5 pt-5">
                <h4 class="mb-4 ">"Mi Pirmera Web"</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, hic praesentium magni aliquam aspernatur harum eaque cum, ad quasi minima amet aut perspiciatis molestiae, repellat tenetur animi. A, cumque facere.</p>
            </div>
            <div class="contImg">
                <img src="assets/img/paginaweb.jpg" alt="teclado primera linea de codigo">

            </div>
        </div>
        <hr>
        <div class="contCode ">
            <div class="contImg">
                <img class="idea" src="assets/img/idea.jpg" alt="teclado primera linea de codigo">

            </div>
            <div class="cpntParrafo mt-5 pt-5">

                <h4 class="mb-4 ">"Ideas"</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, hic praesentium magni aliquam aspernatur harum eaque cum, ad quasi minima amet aut perspiciatis molestiae, repellat tenetur animi. A, cumque facere.</p>
            </div>

        </div>

        <div class="contCode ">

            <div class="cpntParrafo mt-5 pt-5">

                <h4 class="mb-4 ">Super poderes</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, hic praesentium magni aliquam aspernatur harum eaque cum, ad quasi minima amet aut perspiciatis molestiae, repellat tenetur animi. A, cumque facere.</p>
            </div>
            <div class="contImg">
                <img src="assets/img/responsive.png">

            </div>

        </div>



    </article>
</section>