<header class=" animated fadeInDownBig headerBlog">

    <h1>Blog del programador</h1>

    <div class="relative">
        <img class="animado" src="../../../assets/img/blog1.svg" width="800px">
        <div class="cont">
            <ul>
                <li>Algunos tips</li>
                <li>Herramientas</li>
                <li>Comentarios</li>
                <li>Debates</li>

            </ul>
        </div>
    </div>

</header>
<main>
    <h2>Poryecto en construcion </h2>
<section  >
<div class="contrucion">

</div>
</section>





</main>