<hr>
<footer>
    <div class="redessociales">
        <div class="red">
            <a target="_blank" href="#"> <i class="animated rubberBand fab fa-facebook-f"></i></a>
            <a target="_blank" href="#"><i class="animated rubberBand fab fa-twitter"></i></a>
            <a target="_blank" href="#"><i class="animated rubberBand fab fa-linkedin-in"></i></a>
            <a target="_blank" href="#"> <i class="animated rubberBand fab fa-instagram"></i>
            </a>




        </div>

    </div>
    <div class="copy">
        <span class="copy">derechos reservados |jesus brice&ntilde;o 2019&copy;</span>
    </div>


</footer>