<hr>
<footer>
    <div class="redessociales">
        <div class="red">
            <a target="_blank" href="https://www.facebook.com/jesus.briceno.7169"> <i class="animated rubberBand fab fa-facebook-f"></i></a>
            <a target="_blank" href="https://twitter.com/Jesus47431820"><i class="animated rubberBand fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/jesus-brice%C3%B1o-zerpa-848b18183/"><i class="animated rubberBand fab fa-linkedin-in"></i></a>
            <a target="_blank" href="https://www.instagram.com/jesus_yebz/?hl=es-la"> <i class="animated rubberBand fab fa-instagram"></i>
            </a>




        </div>

    </div>
    <div class="copy">
        <span class="copy">derechos reservados |jesus brice&ntilde;o 2019&copy;</span>
    </div>


</footer>